##Tarea 2
####Andrea Espindola Macias (ID: 0243394)

1. Lanzas una moneda justa (es decir, la probabilidad de obtener cara es $0.5$ ) tres veces. Suponga que todas las secuencias de resultados de lanzamiento de moneda, de longitud 3, son igualmente probables. Determine la probabilidad de cada uno de los siguientes eventos:

a. $\\{HHH\\}$ $3$ caras.

b. $\\{HTH\\}$ cara, águila, cara. 

c. Cualquier sucesión con dos caras y un águila (en cualquier orden). 


d. Cualquier sucesión en donde el número de caras sea mayor o igual al número de águilas.

In [ ]:
from itertools import product

In [ ]:
M = {"A", "S"}

In [ ]:
Omega = set(product(M, repeat = 3))
Omega

{('A', 'A', 'A'),
 ('A', 'A', 'S'),
 ('A', 'S', 'A'),
 ('A', 'S', 'S'),
 ('S', 'A', 'A'),
 ('S', 'A', 'S'),
 ('S', 'S', 'A'),
 ('S', 'S', 'S')}

In [ ]:
len(Omega)

8

a.

In [ ]:
E = { omega for omega in Omega if omega [0]== "S"}
E

{('S', 'A', 'A'), ('S', 'A', 'S'), ('S', 'S', 'A'), ('S', 'S', 'S')}

In [ ]:
F = {omega for omega in Omega if omega [1]== "S"}
F

{('A', 'S', 'A'), ('A', 'S', 'S'), ('S', 'S', 'A'), ('S', 'S', 'S')}

In [ ]:
G = {omega for omega in Omega if omega [2]== "S"}
G

{('A', 'A', 'S'), ('A', 'S', 'S'), ('S', 'A', 'S'), ('S', 'S', 'S')}

In [ ]:
U = E.intersection(F.intersection(G))
U

{('S', 'S', 'S')}

In [ ]:
len(U)/len(Omega)

0.125

b.

In [ ]:
R = { omega for omega in Omega if omega [0]== "S"}
R

{('S', 'A', 'A'), ('S', 'A', 'S'), ('S', 'S', 'A'), ('S', 'S', 'S')}

In [ ]:
Q = { omega for omega in Omega if omega [1]== "A"}
Q

{('A', 'A', 'A'), ('A', 'A', 'S'), ('S', 'A', 'A'), ('S', 'A', 'S')}

In [ ]:
T = { omega for omega in Omega if omega [2]== "S"}
T

{('A', 'A', 'S'), ('A', 'S', 'S'), ('S', 'A', 'S'), ('S', 'S', 'S')}

In [ ]:
W = R.intersection(Q.intersection(T))
W

{('S', 'A', 'S')}

In [ ]:
len(W)/len(Omega)

0.125

c.

In [ ]:
X = {omega for omega in Omega if omega.count("A")== 1}
X

{('A', 'S', 'S'), ('S', 'A', 'S'), ('S', 'S', 'A')}

In [ ]:
Px = len(X)/len(Omega)
Px

0.375

d.

In [ ]:
Y = {omega for omega in Omega if omega.count("S")>= omega.count("A")}
Y

{('A', 'S', 'S'), ('S', 'A', 'S'), ('S', 'S', 'A'), ('S', 'S', 'S')}

In [ ]:
Py = len(Y)/len(Omega)
Py

0.5

2. En el ejercicio anterior, calcula las probabilidades dado que sabes que cayó una cara en el primer lanzamiento.

a. $\\{HHH\\}$ $3$ caras.

b. $\\{HTH\\}$ cara, águila, cara. 

c. Cualquier sucesión con dos caras y un águila (en cualquier orden). 


d. Cualquier sucesión en donde el número de caras sea mayor o igual al número de águilas.

a.

In [ ]:
PU = len(U.intersection(E))/ len(E)
PU

0.25

b.

In [ ]:
PW = len(W.intersection(E))/ len(E)
PW

0.25

c.

In [ ]:
Px= len(X.intersection(E))/ len(E)
Px

0.5

d.

In [ ]:
Py = len(Y.intersection(E))/ len(E)
Py

0.75

3. Alicia y Samuel eligen al azar un número real entre cero y uno. Suponemos que el par de números se elige sobre el cuadrado unitario, de modo que la probabilidad de un evento es igual a su área. Definimos los siguientes eventos:

A: la magnitud de la diferencia de los dos números es mayor que $1/3$.

B: Al menos uno de los números es mayor que $1/4$.

C: LA suma de los dos números es $1$.

D: El número de Alicia es mayor que $1/4$.


Calcula la probabilidad de cada evento.

In [ ]:
import numpy as np

In [ ]:
import random

In [ ]:
A = []
for i in range (1):
  print(random.random())

0.2387178040064697

In [ ]:
S = []
for i in range (1):
  print(random.random())

0.46853011529927613

In [ ]:
a = np.random.random()
s = np.random.random()
abs(a-s)> 1/3

True

In [ ]:
[0,1]

[0, 1]

In [ ]:
!pip install python-intervals==1.4.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-intervals==1.4.0
  Downloading python_intervals-1.4.0-py2.py3-none-any.whl (10 kB)
Installing collected packages: python-intervals
Successfully installed python-intervals-1.4.0

In [ ]:
import intervals as I

In [ ]:
from itertools import product
U = set(product())

In [ ]:
#otro modo
k = 0
l = 11000
for x in range (l): 
  a = np.random.random()
  s = np.random.random()
  if abs(a-s)> 1/3: 
    k += 1 

k/l

0.44181818181818183

4. Simula una sucesión de $5$ volados simultáneos (1 muestreo) con monedas honestas que consista de 100 observaciones. Registra tus datos en un DataFrame de Pandas.

In [ ]:
import pandas as pd

In [ ]:
Omega5 = set(product(["A", "S"], repeat = 5))
Omega5

{('A', 'A', 'A', 'A', 'A'),
 ('A', 'A', 'A', 'A', 'S'),
 ('A', 'A', 'A', 'S', 'A'),
 ('A', 'A', 'A', 'S', 'S'),
 ('A', 'A', 'S', 'A', 'A'),
 ('A', 'A', 'S', 'A', 'S'),
 ('A', 'A', 'S', 'S', 'A'),
 ('A', 'A', 'S', 'S', 'S'),
 ('A', 'S', 'A', 'A', 'A'),
 ('A', 'S', 'A', 'A', 'S'),
 ('A', 'S', 'A', 'S', 'A'),
 ('A', 'S', 'A', 'S', 'S'),
 ('A', 'S', 'S', 'A', 'A'),
 ('A', 'S', 'S', 'A', 'S'),
 ('A', 'S', 'S', 'S', 'A'),
 ('A', 'S', 'S', 'S', 'S'),
 ('S', 'A', 'A', 'A', 'A'),
 ('S', 'A', 'A', 'A', 'S'),
 ('S', 'A', 'A', 'S', 'A'),
 ('S', 'A', 'A', 'S', 'S'),
 ('S', 'A', 'S', 'A', 'A'),
 ('S', 'A', 'S', 'A', 'S'),
 ('S', 'A', 'S', 'S', 'A'),
 ('S', 'A', 'S', 'S', 'S'),
 ('S', 'S', 'A', 'A', 'A'),
 ('S', 'S', 'A', 'A', 'S'),
 ('S', 'S', 'A', 'S', 'A'),
 ('S', 'S', 'A', 'S', 'S'),
 ('S', 'S', 'S', 'A', 'A'),
 ('S', 'S', 'S', 'A', 'S'),
 ('S', 'S', 'S', 'S', 'A'),
 ('S', 'S', 'S', 'S', 'S')}

In [ ]:
df500 = pd.DataFrame()
for i in range (1,101):
  v_muestra = np.random.binomial(1,0.5,5)
  columna = f"muestra {i}"
  df500[columna] = v_muestra
df500

,muestra 1,muestra 2,muestra 3,muestra 4,muestra 5,muestra 6,muestra 7,muestra 8,muestra 9,muestra 10,...,muestra 91,muestra 92,muestra 93,muestra 94,muestra 95,muestra 96,muestra 97,muestra 98,muestra 99,muestra 100
0,0,1,0,0,1,0,0,1,0,0,...,0,0,1,1,1,1,0,0,0,1
1,1,0,0,0,1,1,1,1,1,0,...,0,0,1,1,1,1,0,1,1,0
2,1,0,0,1,1,1,1,1,1,1,...,0,0,0,1,1,0,0,0,0,1
3,0,1,1,1,1,1,1,0,0,0,...,1,1,0,1,1,1,0,0,0,1
4,1,0,1,0,1,0,0,0,1,0,...,0,1,1,0,1,1,1,0,0,1