#Tarea 1: Probabilidad y Estad√≠stica
##Andrea Espindola Macias
###ID: 0243394

Instrucciones:

1. Describir el espacio muestral:

In [ ]:
from itertools import product
from IPython.core.display import display_markdown
import pandas as pd

In [ ]:
OMEGA = set(product([1,2,3,4,5,6], repeat = 2))
(OMEGA)

{(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6)}

In [ ]:
len(OMEGA)

36

2. Considere el evento S(n): la suma de las caras de los dados en n.

In [ ]:
a = [1,2,3,4,5,6]
b = [1,2,3,4,5,6]
def S(n):
  Sn=[(a,b) for a  in range (1,7) for b in range (1,7) if a+b == n]
  return(Sn)

3. Calcular S(2) hasta S(12) - Forma 1

In [ ]:
Sumade2 = S(2)
Sumade2

[(1, 1)]

In [ ]:
Sumade3 = S(3)
Sumade3

[(1, 2), (2, 1)]

In [ ]:
Sumade4 = S(4)
Sumade4

[(1, 3), (2, 2), (3, 1)]

In [ ]:
Sumade5 = S(5)
Sumade5

[(1, 4), (2, 3), (3, 2), (4, 1)]

In [ ]:
Sumade6 = S(6)
Sumade6

[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

In [ ]:
Sumade7 = S(7)
Sumade7

[(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)]

In [ ]:
Sumade8 = S(8)
Sumade8

[(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)]

In [ ]:
Sumade9 = S(9)
Sumade9

[(3, 6), (4, 5), (5, 4), (6, 3)]

In [ ]:
Sumade10 = S(10)
Sumade10

[(4, 6), (5, 5), (6, 4)]

In [ ]:
Sumade11 = S(11)
Sumade11

[(5, 6), (6, 5)]

In [ ]:
Sumade12 = S(12)
Sumade12

[(6, 6)]

3. Calcular S(2) hasta S(12) - Forma 2

In [ ]:
Sumade2 = {omega for omega in OMEGA if omega[0] + omega[1] == 2}
Sumade3 = {omega for omega in OMEGA if omega[0] + omega[1] == 3}
Sumade4 = {omega for omega in OMEGA if omega[0] + omega[1] == 4}
Sumade5 = {omega for omega in OMEGA if omega[0] + omega[1] == 5}
Sumade6 = {omega for omega in OMEGA if omega[0] + omega[1] == 6}
Sumade7 = {omega for omega in OMEGA if omega[0] + omega[1] == 7}
Sumade8 = {omega for omega in OMEGA if omega[0] + omega[1] == 8}
Sumade9 = {omega for omega in OMEGA if omega[0] + omega[1] == 9}
Sumade10 = {omega for omega in OMEGA if omega[0] + omega[1] == 10}
Sumade11 = {omega for omega in OMEGA if omega[0] + omega[1] == 11}
Sumade12 = {omega for omega in OMEGA if omega[0] + omega[1] == 12}

In [ ]:
Sumade2

{(1, 1)}

In [ ]:
Sumade3

{(1, 2), (2, 1)}

In [ ]:
Sumade4

{(1, 3), (2, 2), (3, 1)}

In [ ]:
Sumade5

{(1, 4), (2, 3), (3, 2), (4, 1)}

In [ ]:
Sumade6

{(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)}

In [ ]:
Sumade7

{(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)}

In [ ]:
Sumade8

{(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)}

In [ ]:
Sumade9

{(3, 6), (4, 5), (5, 4), (6, 3)}

In [ ]:
Sumade10

{(4, 6), (5, 5), (6, 4)}

In [ ]:
Sumade11

{(5, 6), (6, 5)}

In [ ]:
Sumade12

{(6, 6)}

4. Resta que de como resultado 1

In [ ]:
a = [1,2,3,4,5,6]
b = [1,2,3,4,5,6]
def R(n):
 Rn =[(a,b) for a in range (1,7) for b in range (1,7) if a-b == 1]
 return Rn

In [ ]:
Restaiguala1 = R(1)
R(1)

[(2, 1), (3, 2), (4, 3), (5, 4), (6, 5)]

5. Probabilidad Resta

In [ ]:
P = len(Restaiguala1)/len(OMEGA)
P

0.1388888888888889

6. Data Frame

In [ ]:
Tabla = {"Suma de 2": [Sumade2], "Suma de 3": [Sumade3], "Suma de 4": [Sumade4], "Suma de 5": [Sumade5], "Suma de 6": [Sumade6], "Suma de 7": [Sumade7], "Suma de 8": [Sumade8], "Suma de 9": [Sumade9], "Suma de 10": [Sumade10], "Suma de 11": [Sumade11], "Suma de 12": [Sumade12],}

In [ ]:
Tabla

{'Suma de 2': [{(1, 1)}],
 'Suma de 3': [{(1, 2), (2, 1)}],
 'Suma de 4': [{(1, 3), (2, 2), (3, 1)}],
 'Suma de 5': [{(1, 4), (2, 3), (3, 2), (4, 1)}],
 'Suma de 6': [{(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)}],
 'Suma de 7': [{(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)}],
 'Suma de 8': [{(2, 6), (3, 5), (4, 4), (5, 3), (6, 2)}],
 'Suma de 9': [{(3, 6), (4, 5), (5, 4), (6, 3)}],
 'Suma de 10': [{(4, 6), (5, 5), (6, 4)}],
 'Suma de 11': [{(5, 6), (6, 5)}],
 'Suma de 12': [{(6, 6)}]}

In [ ]:
index = "valores"
dftabla = pd.DataFrame(Tabla, index=[index])
dftabla

,Suma de 2,Suma de 3,Suma de 4,Suma de 5,Suma de 6,Suma de 7,Suma de 8,Suma de 9,Suma de 10,Suma de 11,Suma de 12
valores,"{(1, 1)}","{(1, 2), (2, 1)}","{(1, 3), (3, 1), (2, 2)}","{(3, 2), (4, 1), (1, 4), (2, 3)}","{(5, 1), (3, 3), (1, 5), (4, 2), (2, 4)}","{(6, 1), (1, 6), (4, 3), (3, 4), (2, 5), (5, 2)}","{(3, 5), (2, 6), (4, 4), (6, 2), (5, 3)}","{(6, 3), (5, 4), (4, 5), (3, 6)}","{(6, 4), (4, 6), (5, 5)}","{(5, 6), (6, 5)}","{(6, 6)}"

6. Data Frame (Suma de 7, Suma de 2 y Resta que de como Resultado 1)

In [ ]:
tabla2 = {"Suma de 2": [Sumade2], "Suma de 7": [Sumade7], "Resta":[Restaiguala1]}

In [ ]:
tabla2

{'Suma de 2': [{(1, 1)}],
 'Suma de 7': [{(1, 6), (2, 5), (3, 4), (4, 3), (5, 2), (6, 1)}],
 'Resta': [[(2, 1), (3, 2), (4, 3), (5, 4), (6, 5)]]}

In [ ]:
index = "valores2"
dftabla2 = pd.DataFrame(tabla2, index = [index])
dftabla2

,Suma de 2,Suma de 7,Resta
valores2,"{(1, 1)}","{(6, 1), (1, 6), (4, 3), (3, 4), (2, 5), (5, 2)}","[(2, 1), (3, 2), (4, 3), (5, 4), (6, 5)]"